/* Main styling TODO */
/* Header/Nav */ 
header {
    text-align: center;
}
.title {
    font-weight: bold;
    color: rgb(0, 12, 187);
}

/* Buttons/Forms */
.operations {
    text-align: center;
}
button {
    padding: 0.5em;
    font-size: 1.5em;
    border: solid 2px navy;
    border-radius: 10px;
    color: blue;
    background: lightblue;
}
button:hover {
    color: blueviolet;
    background: lightgreen;
    border-color: green;
}
button:active {
    color: red;
}
.operations button {
    margin: 1em;
}
.create-item {
    background: lightgoldenrodyellow;
}
.create-item form {
    display: flex;
    flex-direction: column;
}
.create-item form label {
    display: flex;
    flex-wrap: nowrap;
    margin: 0.5em auto;
}
.create-item form .form-heading {
    width: 100px;
    text-align: right;
    margin-right: 1em;;
}
.create-item form input,
.create-item form textarea,
.create-tem form .form-categories {
    width: 300px;
}
.create-item form button[type="submit"] {
    width: unset;
    background: yellow;
}


/* Display */
#item-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: aliceblue;
}
.item {
    margin: 2em;
    width: 400px;
    display: flex;
}
.item > div {
    margin: 0.5em;
}
.item .item-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item .item-content > div {
    margin: 0.5em;
}
.item .categories ul {
    list-style: none;
}
.item .categories ul li {
    margin-right: 1em;
}
.item .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 300px;
    border: 2px solid white;
    border-radius: 5px;
}
#item-display.view-summary {
    flex-wrap: nowrap;
    flex-direction: column;
}
#item-display.view-summary .item {
    width: 500px;
    margin: auto;
}
#item-display.view-summary .item .item-content{
    flex-direction: row;
}
#item-display.view-summary .item .name {
    width: 200px;
}
#item-display.view-summary .item button {
    padding: 0.25em;
    font-size: 1.25em;
}
#item-display.view-summary .item .categories {
    width: unset;
    display: flex;
}
#item-display.view-summary .item .categories ul {
    display: flex;
}

.delete-container {
    display: flex;
    justify-content: center;
}
.delete-container button {
    color: red;
    background: lightpink;
}
.delete-container button:hover {
    background: lightsalmon;
}
