/* Main styling TODO */
/* Header/Nav */ 
header {
    text-align: center;
}

/* Buttons/Forms */

/* Display */
#item-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item {
    margin: 2em;
    width: 400px;
}